

.router-link-active.router-link-exact-active{
  background-color: theme('colors.flow-brown');
  border-radius: 30px;
  margin-left: -0.5rem;
}

.router-link-active.router-link-exact-active *{
  color: white;
}

.top-tool-box{
  .p-selectbutton.p-buttonset.p-component{
    height: 100%;
    .p-button{
      padding: 0rem 1.25rem;
      height: 100%;
    }
  }
}